@using Freelancer.Web.Areas.Admin.ViewModels;
@using Freelancer.Model.Common;

@model ScheduleViewModel
@{


}
<div class="form formWH form-group-sm">Wish Days</div>
<div class="form-group col-sm-8">
    <span>@(Days.Mandag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Monday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.MondayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.MondayEndTime, new { @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>

    <span>@(Days.Tirsdag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Tuesday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.TuesdayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.TuesdayEndTime, new { @placeholder = "Endtime", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>

    <span>@(Days.Onsdag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Wednesday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.WednesdayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.WednesdayEndTime, new { @placeholder = "Endtime", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
    <span>@(Days.Torsdag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Thursday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.ThursdayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.ThursdayEndTime, new { @placeholder = "Endtime", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
    <span>@(Days.Fridag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Friday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.FridayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.FridayEndTime, new { @placeholder = "Endtime", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
    <span>@(Days.Lørdag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Saturday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.SaturdayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.SaturdayEndTime, new { @placeholder = "Endtime", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
    <span>@(Days.Søndag.ToString())</span>
    @Html.CheckBoxFor(m => m.WishDays.Sunday)
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.SundayStartTime, new { @type = "text", @class = "form-control" })
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>

    </div>
    <div class="input-group clockpicker">

        @Html.TextBoxFor(m => m.WishDays.SundayEndTime, new { @placeholder = "Endtime", @class = "form-control" })

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
</div>
