@using Freelancer.Model;
@using Freelancer.Model.Models.Schedule;
@using Freelancer.Web.Areas.Admin.ViewModels;
@using Freelancer.Model.Common;
@using Freelancer.Web.Areas.Admin.HelperClasses;
@model ScheduleViewModel
@{


}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Validation.js"></script>
<script src="~/Areas/Admin/Scripts/commonTolkDanmark.js"></script>
<link href="~/Areas/Admin/Cloack/src/clockpicker.css" rel="stylesheet" />
<link href="~/Areas/Admin/Cloack/src/standalone.css" rel="stylesheet" />
<script src="~/Areas/Admin/Cloack/src/clockpicker.js"></script>
<script src="~/Areas/Admin/Scripts/SchedulerValidation.js?i=1.46"></script>

<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title">Scheduler</h3>
    </div>
    <div class="box-body">
        <form id="Booking" method="post" enctype="multipart/form-data" action="@Url.Action("Index","Scheduler",FormMethod.Post)">
            @Html.HiddenFor(m => m.CustomerId)
            <div id="" class="">
                <!-- Modal content-->
                <div class="row ">
                    <div id="formdata" class="modal-body">

                        <div class="formTextSize padding20px">
                            <div class="pull-left col-md-6 col-xs-12">
                                Please Schedule.
                                <h3 class="text-muted">
                                    Scheduler<small class="text-danger"> (*Fields must be filled in) @Html.ValidationSummary()</small>
                                </h3>
                             
                                <div class="form formWH form-group-sm">Employee informaiton</div>
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <!-- /.col -->
                                        <div class="box box-default box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Select Employee</h3>
                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <!-- /.box-tools -->
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="box">
                                                    <div class="box-header">
                                                        <h3 class="box-title">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        @Html.DropDownListFor(m => m.EmployeeId, Model.EmployeeList, "Select Employee", new { @class = "form-control" })

                                                                    </td>
                                                                    <td>
                                                                        <button id="AddEmployee" type="button" class="btn btn-block btn-success btn-sm" style="margin-left:10px">Add Employee</button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body no-padding">
                                                        <table id="Tableemployee">
                                                            @Html.Partial("_EmployeePetRow", new Tuple<List<ScheduleEmployee>, int>(Model.ScheduleEmployees == null ? Model.ScheduleEmployees : Model.ScheduleEmployees, 0))

                                                        </table>
                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                        <!-- /.col -->
                                    </div>
                                </div>
                              
                                <div class="row">
                                   @Html.Partial("_NormalDays", Model)
                                </div>
                                 <div class="row">
                                   
                                     @Html.Partial("_weekSelection", Model)
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="pull-right col-md-6 col-sm-12">
                        <div class="row">
                            <div class="form formWH form-group-sm"></div>
                            <div class="form-group col-sm-8"></div>
                        </div>
                        <div class="row">
                            <div class="form formWH form-group-sm"></div>
                            <div class="form-group col-sm-8"></div>
                        </div>
                        <div class="row">
                            <div class="form formWH form-group-sm"></div>
                            <div class="form-group col-sm-8"></div>
                        </div>
                        <div class="row">
                            <div class="form formWH form-group-sm"></div>
                            <div class="form-group col-sm-8"></div>
                        </div>
                       
                   
                    
                        <div class="row">
                            <div class="form formWH form-group-sm">Dates if any</div>
                            <div class="form-group col-sm-8">

                                <div class="box-body">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <input type="date" id="txtScheduleDate" name="txtScheduleDate" class="date-picker" />
                                                        </td>
                                                        <td>
                                                            <button id="AddDate" type="button" class="btn btn-block btn-success btn-sm" style="margin-left:10px">Add Dates</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table id="TableDates">
                                                @Html.Partial("_ScheduleDates", new Tuple<List<ScheduleWithDates>, int>(Model.ScheduleWithDatess == null ? Model.ScheduleWithDatess : Model.ScheduleWithDatess, 0))

                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                                <div class="form formWH form-group-sm">Starting Date</div>
                                <div class="form-group col-sm-8">
                                    @Html.TextBoxFor(x => x.StartingDate, new { @type = "date", @class = "form-control" })
                                </div>
                            </div>
                       
                        <div class="row">
                            @Html.Partial("_WishDays", Model) 
                        </div>
                        <div class="row">
                            <div class="form formWH form-group-sm"></div>
                            <div class="form-group col-sm-8">
                               
                            </div>
                        </div>



                            <div class="col-lg-3 pull-right">
                                <div>
                                    <label>&nbsp;</label>
                                    <div>
                                        <button class="btn btn-success" type="submit" onclick="return ValidateScheduler(event)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Add
                                        </button>
                                        <a class="btn btn-default" href="@Url.Action("index")">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <lable ID="lbluserid"></lable>
                    </div>
         

        </form>
    </div>

</div>
<div class="box box-primary">
   
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">

    

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
    </div>
</div>
@*pet list operations script*@
<script type="text/javascript">
    $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        donetext: 'Done'
    });
</script>


