
@{
    ViewBag.Title = "Dashboard";
}
@ViewBag.Titile
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3></h3>
                <p>New Employee</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="@Url.Action("Index", "Employee")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3></h3>
                <p>New Customer</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="@Url.Action("Index", "Customer")?IsCheckStatus=Aktive" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3></h3>
                <p>Pets</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="@Url.Action("Add", "Pet")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    @*<!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3></h3>
                <p>Customer Registered</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="@Url.Action("Index", "Customer")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->*@

</div>
<!-- /.row -->

@*

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Tolk By Region</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Region Code</th>
                            <th>Region Name</th>
                            <th>Total</th>
                            @*<th style="width: 40px">Label</th>
                    </tr>




                </tbody>
            </table>
        </div>

    </div>*@




<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
                @*<li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>*@
                @*<li><a href="#sales-chart" data-toggle="tab">Donut</a></li>*@
                <li class="pull-left header"><i class="fa fa-inbox"></i> Nordisk</li>
            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                Welcome to nordisk web portal for administration , registration , scheduling and reporting.
                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"> </div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->

    </section>
    <!-- /.Left col -->

</div>
<!-- /.row (main row) -->


@section scripts
{

    <script type="text/javascript">

        $(function () {

            "use strict";


            /* Morris.js Charts */
            // Sales chart
            var area = new Morris.Bar({
                element: 'revenue-chart',
                resize: true,
                data: [





                ],
                // The name of the data record attribute that contains x-values.
                xkey: 'title',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['value'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Total Orders']
                //,
                //xLabelFormat: function(d) {
                //   // alert(d);
                //  //  return d.title;
                //    return ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov', 'Dec'][d.getMonth()];// + ' ' + d.getDate();
                //    //return ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov', 'Dec'][d.getMonth()] + ' ' + d.getDate();
                //}
            });

            ////Donut Chart
            //var donut = new Morris.Donut({
            //    element: 'sales-chart',
            //    resize: true,
            //    colors: ["#3c8dbc", "#f56954", "#00a65a"],
            //    data: [
            //      { label: "Download Sales", value: 12 },
            //      { label: "In-Freelancer.Sales", value: 30 },
            //      { label: "Mail-Order Sales", value: 20 }
            //    ],
            //    hideHover: 'auto'
            //});


        });
    </script>
}